<div class="site-search" data-site-search>
  <div class="site-search-bar">
    <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
    <input
      class="site-search-input"
      type="search"
      placeholder="Search services, industries, careers..."
      autocomplete="off"
      aria-label="Search website"
    >
    <button class="site-search-close" type="button" aria-label="Clear search">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="site-search-dropdown">
    <div class="site-search-results"></div>
  </div>
</div>
